node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.jks.bak
*.p12
*.key
*.mobileprovision

# osx
.DS_Store

# intellij
.idea
local.properties

# node.js
node_modules/
npm-debug.log

# env
env/index.js
tsconfig.json

# expo

.expo
.expo-shared/
web-build/

dist
