npm-debug.*
*.jks
*.jks.bak
*.p12
*.key
*.mobileprovision

# osx
.DS_Store
ios/.xcode.env.local

# intellij
.idea
local.properties

# node.js
node_modules/
node_modules/**/*
npm-debug.log

# env
env/index.js

# expo

.expo
.expo/*
.expo-shared/
web-build/

dist

# Bundle artifact
*.jsbundle

# native

# Android/IntelliJ
#
build/
.gradle
*.iml
*.apk
*.hprof
.cxx/
*.keystore
!debug.keystore

# Ruby / CocoaPods
/ios/Pods/

/vendor/bundle/
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
# testing
/coverage

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output